.app {

  height: 100%;
  width: 100%;
  //max-width: 768px;
  //position: relative;
  //top: -65px;

  background: url("app.jpg") no-repeat top center;
  background-size: cover;
  .logo {
    padding: 15px;
    margin: 50px auto;
    display: block;
    height: 80px;
    width: 80px;
    vertical-align: middle;
  }
  .title {
    display: block;
    height: 30%;
    p {
      color: white;
      font-weight: bolder;
      font-size: 25px;
    }
  }
  .btns {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: block;
  }

  .btn {
    //background-size: cover;
    margin: 20px;
  }
  .IOS {
    display: block;
    //background-size: auto;
    //margin: 70% 50% auto auto;
  }
  .Android {
    display: block;
    //background-size: auto;
    //margin: 80% 50% auto auto;
  }

}