.layout {
    background: url("sprite.png") top left no-repeat;
}

.layout_1 {
    width: 27px;
    height: 28px;
    background-position: -10px -10px;
}

.layout_2 {
    width: 27px;
    height: 28px;
    background-position: -10px -48px;
}

.layout_3 {
    width: 27px;
    height: 28px;
    background-position: -10px -86px;
}

.layout_4 {
    width: 27px;
    height: 28px;
    background-position: -10px -124px;
}

.layout_5 {
    width: 27px;
    height: 28px;
    background-position: -10px -162px;
}

.layout_6 {
    width: 27px;
    height: 27px;
    background-position: -10px -200px;
}

.layout_7 {
    width: 27px;
    height: 27px;
    background-position: -10px -237px;
}

.layout_0 {
    width: 17px;
    height: 19px;
    background-position: -10px -274px;
}

.app_ {
    background: url("app.png") top left no-repeat;
}

.app_ios {
    width: 798px;
    height: 150px;
    background-position: 0 0;
}

.app_android {
    width: 798px;
    height: 148px;
    background-position: 0 -150px;
}

