html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container-fluid, .row, .col-md-2, .col-md-5 {
    padding: 0;
    margin: 0;
}

.row {
    height: 338px;
}

ul.nav li {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: lightgrey;
    height: 56px;
    margin: 0;
}

ul.nav li a {
    height: 55px;
    line-height: 35px;
}

ul.nav li.active {
    height: 58px;
}

ul.nav li.active a {
    height: 57px;
    line-height: 37px;
}

.panel.panel-default {
    margin: 0;
}

#map {
    height: 298px;
    overflow: hidden;
    padding: 0;
}

a, h3 {
    font-weight: bold;
}

